# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore

# Web
# (build/ 已覆盖)

# 环境
.env
