<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Flutter 模板只把 INTERNET 放进 debug/profile manifest（供 hot reload 用）。
         本 App 全部功能都要访问 Emby 服务端，release 包必须自己声明，
         否则装上去所有网络请求都会失败。 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- usesCleartextTraffic：自建服务端普遍是局域网明文 HTTP
         （如 http://10.0.0.50:8097），Android 9+ 默认禁止明文流量，不开则连不上。 -->
    <application
        android:label="Jellfin"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <!-- 麒麟/EMUI 设备（实测 Mate 30 / Kirin 990）上，Flutter 默认的 Impeller
             渲染器提供的视频输出表面与华为硬解不兼容：真实、受支持的视频
             （format_supported=YES）也会报 MediaCodecVideoRenderer error 起不了播。
             回退 Skia 渲染即可正常硬解；若所用 Flutter 版本已忽略该开关，
             ImpellerBackend=opengles 至少避开华为 Vulkan 驱动的坑。 -->
        <meta-data
            android:name="io.flutter.embedding.android.EnableImpeller"
            android:value="false" />
        <meta-data
            android:name="io.flutter.embedding.android.ImpellerBackend"
            android:value="opengles" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
